.stripWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 24px;
  background-color: #ebebeb;
  direction: rtl;
  z-index: 1000;
  margin: 0;
  height: 56px;
}

.menuTriggerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.iconWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.menuWrapper {
  position: absolute;
  top: 41px;
  right: 0;
  z-index: 999;
  background-color: white;
  min-width: 300px;
}

.hamburgerButton {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 8px;
}

.categoriesLabel {
  font-weight: bold;
  font-size: 23px;
  margin-left: 12px;
  margin-right: 10px;
  margin-top: 3px;

}

.searchBox {
  flex: 1;
  position: relative;
  max-width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 3px;
}

.searchInput {
  width: 100%;
  height: 17px;
  padding: 10px 36px 10px 0px;
  border: 1.7px solid #b3aeae;
  border-radius: 3px;
  font-size: 14px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}
